#{extends 'main.html' /} 
#{set title:'Terms Page' /} 

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <form class= "form well" action="/terms" method="GET">
        <fieldset>
          <h2 class="text-info text-center">studEnts Terms & Conditions</h2><hr>
            <div class="btn-toolbar">
              <p class="text-muted">
                This Terms & Conditions governs our relationship 
                with users and others who interact with our service. By using or 
                accessing studEnts, you agree to this Policy, as updated on regular 
                basis. 
              </p> 
              <h3 class="text-info">Privacy</h3>
              <p class="text-muted">
                We designed our service in such a way as that ensures that your privacy 
                is protected at all times while using studEnts to share, collect 
                and use information. 
              </p>
              <h3 class="text-info">Sharing Information and Content</h3>
              <p class="text-muted">
                All of the content and information you post on studEnts belongs to you, 
                and you can control how it is shared and used.  
              </p>
              <h3 class="text-info">Safety</h3>
              <p class="text-muted">
                We do everything in our power to keep studEnts safe. But in order to 
                keep the service safe the following rules must be followed: </p>
                <ol class="text-muted">
                  <li>Unauthorized marketable communications, such as spam are prohibited.</li>
                  <li>Collecting users' content or information, or otherwise accessing studEnts, 
                      without our prior permission is forbidden.</li>
                  <li>Engaging in unlawful multi-level marketing, such as a pyramid scheme 
                      is prohibited.</li>
                  <li>Uploading viruses or other malicious code is prohibited.</li>
                  <li>Soliciting login information or accessing an account belonging to someone 
                      else is prohibited.</li>
                  <li>Bullying, intimidating, or harassing any user is prohibited.</li>
                  <li>Posting content that: is hate speech, threatening, or pornographic; incites 
                      violence or contains nudity or graphic or gratuitous violence is prohibited.</li>
                  <li>Developing or operating a third-party application containing 
                      alcohol-related, dating or other mature content.</li>
                  <li>Doing anything unlawful, misleading, malicious, or discriminatory is prohibited.</li>
                  <li>Doing anything that could disable, overburden, or impair the proper working
                      or appearance of studEnts, such as a denial of service attack or interference 
                      with page rendering or other studEnts functionality is treated as a breach of 
                      our policy.</li>
                </ol>
                <h3 class="text-info">Registration and Account Security</h3>
                <p class="text-muted">
                  As a studEnts user you provide real information and in order for us to provide 
                  your account security we need the following rules to be followed:</p>
                <ol class="text-muted">
                  <li>Providing any false personal information, or creating an account for anyone 
                      other than yourself, or creating more than one personal account is 
                      prohibited.</li>
                  <li>If due to some regulation violations your account is disabled, creating 
                      another one without our permission is prohibited.</li>
                  <li>studEnts is designed for individuals who are eighteen (18) or over.</li>
                  <li>Keeping your contact information accurate and up-to-date is a must.</li>
                  <li>Sharing your password, allowing anyone else access your account, 
                      or transferring your account to anyone without first getting our written 
                      permission ,or doing anything else that might jeopardize the security of 
                      your account is considered as a breach of our policy.</li>
                </ol>
              <h3 class="text-info">Protecting Other People's Rights</h3>
              <p class="text-muted">
                Protecting other people's rights is very important to us. Therefore the following 
                are prohibited:
              </p>
                <ol class="text-muted">
                  <li>Posting content(s) or taking any action(s) that infringes or violates 
                      someone else's rights or otherwise violates the law.</li>
                  <li>Repeatedly infringing other people's intellectual property rights, will 
                      result in disabling your account without any prior notice.</li>
                  <li>Posting anyone's identification documents or sensitive financial 
                      information.</li>
                </ol>
              <h3 class="text-info">Revisions</h3>
              <p class="text-muted">
                Any change beyond legal or administrative reasons will be promptly notified to 
                you within seven (7) days by email in order to give you an opportunity to 
                comment on proposed changes to this policy.
              </p> 
              <p class="text-muted">
                Your use of studEnts following changes to our terms institutes your approval 
                of our amended terms.</p>
              <h3 class="text-info">Termination</h3>
              <p class="text-muted">
                Violating any terms of this policy will result in suspending 
                your account and contents thereof. In some cases a notice may be given and 
                your account will be deleted immediately.
              </p>
              <p class="text-muted">
                 You may also instruct us to delete your account by providing us with your 
                 written request, in which case your account will be deleted within twenty four 
                 (24) hours.
              </p>
              <h3 class="text-info">Last Revision of Terms & Conditions</h3>
              <p class="text-muted">This Policy was revised on the 8th September, 2013.</p><hr>
            </div>
          <a href="/Home/index"><span class="glyphicon glyphicon-home"></span> Back to Home</a>
        </fieldset>
      </form>
    </div>
  </div>
</div>

       
 
