#{extends 'main.html' /}
#{set title:'About' /}
#{include 'nav/navopen.html' /}
  <li><a href="/home">Home</a></li>
  <li class="active"><a href="/about">About</a></li>
  <li><a href="/contact">Contact</a></li> 
  #{include 'nav/dropdownopen.html' /}
  <li><a href="/aims">Aim(s)</a></li> 
  <li><a href="/logout">Logout</a></li>
#{include 'nav/dropdownclose.html' /} 
#{include 'nav/navclose.html' /}

  

<div class="container marketing">
  <div class="featurette">
    <img class="featurette-image img-circle pull-right" src="/public/assets/images/study-abroad.jpg">
    <h1 class="featurette-heading">Hello and welcome to studEnts - <span class="text-muted">service you have never seen before!</span></h1>
    <p class="lead">The main purpose of the application is to provide a wide range of services for different type of users including Students,
      Colleges, Agencies and Employers. Application is quite easy to use and thanks to its responsive design can be accessed using 
      mobile, tablet or even laptop. Application is working quite well but it is far from being fully developed due to the extensive 
      amount of work still required. We believe, however that you will be able to fully enjoy it. Have fun!</p>
    <p class="lead">StudEnts Team</p>
  </div>
  <hr class="featurette-divider">
  <!-- Footer Begin-->
  <footer>   
    <div id="social">
      <div class="col-md-6 col-md-offset-3 social">
        <!-- AddThis Button Start -->
        <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
          <a class="addthis_button_preferred_1"></a>
          <a class="addthis_button_preferred_2"></a>
          <a class="addthis_button_compact"></a>
          <a class="addthis_counter addthis_bubble_style"></a>
        </div>
        <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51e5f5d9549fdf9b"></script>
        <!-- AddThis Button End -->
      </div>
    </div><br><br>
    <div id="copyright">
      <p class="pull-right"><a href="#">Back to top</a></p>
      <p>&copy; 2013 studEnts, Inc. &middot; <a href="/terms">Privacy & Terms of Service</a></p>
    </div>
  </footer>
  <!-- Footer End -->
</div>