#{extends 'main.html' /}
#{set title:'Internship Search' /}
#{include 'nav/navopen.html' /}
  <li><a href="/home">Home</a></li>
  <li><a href="/about">About</a></li>
  <li><a href="/contact">Contact</a></li>    
#{include 'nav/dropdownopen.html' /}
  <li><a href="/aims">Aim(s)</a></li> 
  <li><a href="/logout">Logout</a></li>
  <li class="divider"></li>
#{if user instanceof models.Student}
  <li><a href="/courseSearch">Course</a></li>
  <li><a href="/accommodationSearch">Accommodation</a></li>
  <li class="active"><a href="/internshipSearch">Internship</a></li>
#{/if}
#{if user instanceof models.Employer}
  <li class="active"><a href="/internshipSearch">Internship Search</a></li>
  <li><a href="/addRemoveInternship">Add/Remove Internship</a></li>
  <li><a href="/internshipApplicants">Internship Applicants</a></li>
#{/if}
#{include 'nav/dropdownclose.html' /} 
#{include 'nav/navclose.html' /}


<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="featurette">
        <img class="featurette-image img-circle pull-left" src="/public/assets/images/superIntern.png">
        <h1 class="featurette-heading">Searching for an Interniship? <span class="text-muted">Excellent!</span></h1>
        <p class="lead">We have some good offers for you, so start your search now.</a>
        </p>
        <hr class="featurette-divider">
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <h2><span class="text-muted">Internship Search</span></h2>
      <p class="lead">Searching for: <span id="results"></span></p>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>
<!-- Search by Job Title Begin -->
<div class="container">
  <div class="row">
    <form class="form-horizontal" action="internshipSearch/findByJobTitle" method="POST">
    <fieldset>
      <div class="form-group">
        <div class="col-lg-3"></div>
        <div class="col-lg-2">
          <h2><small>By Job Title: </small></h2>
        </div>
        <div class="col-lg-4">
          <label class="searchByJobTitle" for="searchByJobTitle"></label>
          <input type="text" class="form-control" name="jobTitle" placeholder="Enter Job Title">
      </div><br>
      <div class="form-actions">
      <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </div>
      </fieldset>
    </form>
  </div>
</div>
<!-- Search by Job Title End -->
<!-- Search by Career Sector Begin -->
<div class="container">
  <div class="row">
    <form class="form-horizontal" action="internshipSearch/findByCareerSector" method="POST">
    <fieldset>
      <div class="form-group">
        <div class="col-lg-3"></div>
        <div class="col-lg-2">
          <h2><small>By Career Sector: </small></h2>
        </div>
        <div class="col-lg-4">
          <label class="searchByCareerSector" for="searchByCareerSector"></label>
          <select type="text" class="form-control" name="careerSector">
		    <option title="Select sector" value="" selected="">Select Sector</option>
		    <option title="Accountancy and financial management" value="Accountancy and financial management">Accountancy and financial management</option>
		    <option title="Agriculture, animal and plant resources" value="Agriculture, animal and plant resources">Agriculture, animal and plant resources</option>
		    <option title="Banking, insurance and financial services" value="Banking, insurance and financial services">Banking, insurance and financial services</option>
			<option title="Charities and voluntary sector" value="Charities and voluntary sector">Charities and voluntary sector</option>
			<option title="Construction, civil engineering and QS" value="Construction, civil engineering and QS">Construction, civil engineering and QS</option>
			<option title="Emergency services and armed forces" value="Emergency services and armed forces">Emergency services and armed forces</option>
			<option title="Engineering" value="Engineering">Engineering</option>
			<option title="Environment and natural resources" value="Environment and natural resources">Environment and natural resources</option>
			<option title="Fund management/admin, investment banking" value="Fund management/admin, investment banking">Fund management/admin, investment banking</option>
		    <option title="Hospitality, sport, leisure and tourism" value="Hospitality, sport, leisure and tourism">Hospitality, sport, leisure and tourism</option>
			<option title="Human resources, recruitment and training" value="Human resources, recruitment and training">Human resources, recruitment and training</option>
			<option title="IT and telecoms" value="IT and telecoms">IT and telecoms</option>
			<option title="Languages and culture" value="Languages and culture">Languages and culture</option>
			<option title="Law, legal services and patents" value="Law, legal services and patents">Law, legal services and patents</option>
			<option title="Library and information services" value="Library and information services">Library and information services</option>
			<option title="Logistics and transport" value="Logistics and transport">Logistics and transport</option>
			<option title="Management consulting" value="Management consulting">Management consulting</option>
			<option title="Management, business, administration" value="Management, business, administration">Management, business, administration</option>
			<option title="Manufacturing and processing" value="Manufacturing and processing">Manufacturing and processing</option>
			<option title="Marketing, advertising and PR" value="Marketing, advertising and PR">Marketing, advertising and PR</option>
			<option title="Media and publishing" value="Media and publishing">Media and publishing</option>
			<option title="Medical and healthcare" value="Medical and healthcare">Medical and healthcare</option>
		    <option title="Performing and creative arts" value="Performing and creative arts">Performing and creative arts</option>
			<option title="Property" value="Property">Property</option>
		    <option title="Public sector and civil service" value="Public sector and civil service">Public sector and civil service</option>
			<option title="Retail, sales and customer services" value="Retail, sales and customer services">Retail, sales and customer services</option>
			<option title="Science, research and development" value="Science, research and development">Science, research and development</option>
			<option title="Social, community and youth" value="Social, community and youth">Social, community and youth</option>
			<option title="Teaching and education" value="Teaching and education">Teaching and education</option>
		  </select>
      </div><br>
      <div class="form-actions">
      <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </div>
      </fieldset>
    </form>
  </div>
</div>
<!-- Search by Career Sector End -->
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script type='text/javascript' src="@{'/public/assets/js/my_scripts.js'}"></script>